/*  your css code here. If applicable */
body {
            background-color: #d8ddd7;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Main Page Width */
        .main {
            width: 1100px;
            margin: auto;
            background-color: #bfc6be;
            padding: 15px;
        }

        /* Top Image Container */
        .imageContainer {
            margin-bottom: 20px;
        }

        .imageContainer img {
            width: 100%;
            height: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #c9d0c8;
        }

        td {
            border: 1px solid #888;
            padding: 15px;
            vertical-align: top;
        }

        .center-text {
            text-align: center;
            font-size: 18px;
        }

        .objective {
            text-align: center;
        }

        .objective h3 {
            margin-bottom: 10px;
        }

        img {
            width: 100%;
            height: auto;
        }

        a {
            color: purple;
        }